*{
	padding: 0;
	margin: 0;
}

ul.carousel-indicators {
    display: none;
}

a.carousel-control-next {
    top: 63%;
    width: 40px;
    height: 40px;
    background: #6e9a50fc;
}

a.carousel-control-next {
    bottom: 0;
}

a.carousel-control-prev {
    right: 0;
    left: auto;
    width: 40px;
    height: 40px;
    top: 69%;
    background: #6e9a50fc;
}

a.carousel-control-next {}

.carousel-caption {
    left: auto;
    right: 0;
    background: #6e9a50bd;
    padding: 2% 2%;
}
